#title{
    width: 100%;
    border: "1px solid black";
    margin: "15px";
    color: "darkblue"
}
#company_name{
    flex: 50%;
    border: "1px solid black";
    margin: "15px";
}
#work_duration{
    flex: 50%;
    border: "1px solid black";
    margin: "15px";
}
#work_experience{
    border: "1px solid black";
    margin: "15px";
}
#technology{
    border: "1px solid black";
    margin: "15px";

}


